discordtoken: aaaaaBBBBBBBcccccDDDDDD
defaultserverid: 123123123123123123
canaryenable: true
canaryinterval: 10
canaryurl: "http://172.28.0.10:54035/checkin/eeh-bot"
shellenable: true
shell: sh
commandkey: "!eeh"

commands:
  "wiki":
    help: "EEH Wiki"
    message: "https://eehack.space"
    roles:
      - all
  "web":
    help: "Website"
    message: "https://eehack.space"
    roles:
      - all
  "www":
    help: "Website"
    message: "https://eehack.space"
    roles:
      - all
  "gatecode":
    help: "Display car park gatecode"
    message: "Gatecode `0451`"
    secret: true
    roles:
      - discord:hackers
      - discord:matt
  "status":
    help: "Status"
    message: "https://status.eehack.space/"
    roles:
      - all
  "botwatcher":
    help: "Botwatcher"
    message: "https://botwatcher.eehack.space/status"
    roles:
      - discord:matt
      - discord:vicky
  "help":
    help: "Shows this!"
    function: "showHelp"
    secret: true
    roles:
      - all
  "instructions":
    help: "Shows some instructions"
    file: "/path/to/instructions.txt"
    secret: true
    roles:
      - all
  "camera snapshot":
    help: "Take a snapshot of the camera"
    api: "http://172.28.0.10:54036/snap?camera={0}"
    secret: true
    roles:
      - admin
  "camera list":
    help: "Display list of cameras"
    api: "http://172.28.0.10:54036/cameras"
    roles:
      - admin
  "server ip":
    help: "Shows external IP"
    api: "https://api.ipify.org"
    secret: true
    roles:
      - admin
  "my name is":
    help: "Shows your name if you type !cmd my name is Joe Bloggs"
    message: "Your first name is {0} and surname is {1}"
    secret: true
    roles:
      - admin
  "ls -la":
    help: "Shows file listing"
    shell: "ls -la"
    secret: true
    roles:
      - admin
  "sendmessage":
    help: "Sends message as the bot to a channel - sendmessage <channel_id> <message>"
    function: "sendMessage"
    secret: true
    roles:
      - admin
  "editmessage":
    help: "Edits a message the bot has sent - editmessage <channel_id> <message_id> <message>"
    function: "editMessage"
    secret: true
    roles:
      - admin

commandroles:
  admin:
    - 111111111111111111
      # user1
    - 222222222222222222
      # user2
  members:
    - 111111111111111111
      # user1

discordroles:
  role_1: 123456789123456789
  role_2: 987654321987654321

reactions:
    name1:
      type: "role"
      channel_id: 1212121212
      message_id: 1234567890
      emoji: "😂"
      role_id: 1111111111
    name2:
      type: "role"
      channel_id: 1212121212
      message_id: 1234567890
      emoji: "name:3434343434"
      role_id: 2222222222