discordtoken: aaaaaBBBBBBBcccccDDDDDD
commandkey: "!eeh"
commands:
  wiki: "https://eehack.space"
  www: "https://eehack.space"
  web: "https://eehack.space"
  status: "https://status.eehack.space/"
  gatecode: "secret|Gatecode: `1234`"
  botwatcher: "https://botwatcher.eehack.space/status"
  help: "secret|file|/path/to/help.txt"
  "camera list": "api|http://172.28.0.10:54036/cameras"
  "camera snapshot": "secret|api|http://172.28.0.10:54036/snap?camera={0}"
  "server ip": "api|https://api.ipify.org"
  "my name is": "secret|Your first name is {0} and surname is {1}"
commandroles:
  admin:
    - 111111111111111111
      # user1
    - 222222222222222222
      # user2
  members:
    - 111111111111111111
      # user1
commandperms:
  wiki: all
  www: "discord:role_1"
  web: "discord:role_2"
  status: all
  gatecode: members
  botwatcher: all
  camera: admin
  gatecode: members
  help: all
  "camera list": all
  "camera snapshot": "discord:role_2"
  "server ip": admin
  "my name is": all
discordroles:
  role_1: 123456789123456789
  role_2: 987654321987654321
